<nav class="flex justify-between items-center text-white bg-green-600">
  <ul class="flex items-center pt-2.5 pb-2.5 gap-5 max-w-7xl justify-center container mx-auto">
    <li class="text-white font-semibold"><a routerLink="/">Home</a></li>
    <li class="text-white font-semibold"><a [routerLink]="['/specials']">Specials</a></li>
    <li class="text-white font-semibold"><a [routerLink]="['/contacts']">Contact Us</a></li>
    <li class="text-white font-semibold"><a [routerLink]="['/site-map']">Site Map</a></li>
    <li class="text-white font-semibold"><a [routerLink]="['/brand']">Brand</a></li>
  </ul>
</nav>
